/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env


# Cache and compiled
.phpstorm.meta.php
*.css.map
*.js.map
.sass-cache
npm-debug.log
.tmp
_ide_helper.php
_ide_helper_models.php
app/database/testing.sqlite
bootstrap/compiled.php
composer.phar
docs/api.apib
public/app/css
public/app/es6
public/app/fonts
public/app/js/routes.js
public/app/sass/font
public/builds
public/build
public/js/bundle.js
public/js/bundle.min.js
public/js/custom.min.js
public/build/rev-manifest.json
public/styleguide
resources/assets/vendor
public/sitemap.xml
public/api.html

# Development
.idea
.sublimets
sftp-config.json
.env.*.php
.env.php
.env
.vagrant
*.box
/nbproject/private/