<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>cosmos success page new</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="website-content">
            <section class="hero-section success-section">
                <div class="container">
                    
                    <ul class="steps-list text-center list-inline list-unstyled">
                        <li>Capricon</li>
                        <li>Male</li>
                        <li>12/24/1985</li>
                        <li>Sunnyvale, CA</li>
                        <li>24:00</li>
                        <li>Nimrod Santo</li>
                        <li class="update"><a href="" class="btn btn-success btn-green">Update</a></li>
                    </ul>

                    <div class="section-inner">
                        <div class="headline text-center">
                            <h1><span>Success:</span> Your Cosmos Map for Nimrod Santo is Ready for Download</h1>
                            <p>Results and Data Last Updated 02/01/2016</p>
                        </div>
                        <div class="subline text-center">
                            <span>NEXT STEP:</span> Download and access live astrology and cosmos report by clicking "Access Report" button.<br/>You can modify your search at the top of the page.
                            <div>
                                <img src="./images/secure-image-2.png" alt=""/>
                                <img src="./images/secure-image-1.png" alt=""/>
                            </div>
                        </div>

                        <div class="table-wrapper">
                            <table class="table hidden-xs hidden-sm">
                                <thead>
                                    <tr>
                                        <td class="col col-md-2">Name</td>
                                        <td class="col col-md-1">Gender</td>
                                        <td class="col col-md-2">DOB</td>
                                        <td class="col col-md-2">Horoscope</td>
                                        <td class="col col-md-1">TOB</td>
                                        <td class="col col-md-2">City of Birth</td>
                                        <td class="col col-md-2">Full Report</td>
                                    </tr>
                                </thead>
                            </table>
                            <div class="tbody">
                                <div class="tr clearfix">
                                    <div class="td col col-md-2 name">Nimrod Santo</div>
                                    <div class="td col col-md-1 gender">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Gender:</div> Male
                                    </div>
                                    <div class="td col col-md-2 dob">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Date of Birth:</div> 12/24/1985
                                    </div>
                                    <div class="td col col-md-2 horoscope">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Horoscope:</div> Capricon
                                    </div>
                                    <div class="td col col-md-1 tob">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Time of Birth:</div> 24:00
                                    </div>
                                    <div class="td col col-md-2 city-birth">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">City of Birth:</div> Sunnyvale, CA
                                    </div>
                                    <div class="td col col-md-2 full-report">
                                        <div class="text-center small-report-icons">
                                            <img src="./images/report-icon-1.png" alt=""/>
                                            <img src="./images/report-icon-2.png" alt=""/>
                                            <img src="./images/report-icon-3.png" alt=""/>
                                            <img src="./images/report-icon-4.png" alt=""/>
                                            <img src="./images/report-icon-5.png" alt=""/>
                                            <img src="./images/report-icon-6.png" alt=""/>
                                            <a href="" class="btn btn-success btn-block btn-green">Access Report</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tr clearfix">
                                    <div class="td col col-md-2 name">Nimrod Santo</div>
                                    <div class="td col col-md-1 gender">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Gender:</div> Male
                                    </div>
                                    <div class="td col col-md-2 dob">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Date of Birth:</div> 12/24/1985
                                    </div>
                                    <div class="td col col-md-2 horoscope">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Horoscope:</div> Capricon
                                    </div>
                                    <div class="td col col-md-1 tob">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">Time of Birth:</div> 24:00
                                    </div>
                                    <div class="td col col-md-2 city-birth">
                                        <div class="visible-xs-inline-block visible-sm-inline-block">City of Birth:</div> Sunnyvale, CA
                                    </div>
                                    <div class="td col col-md-2 full-report">
                                        <div class="text-center small-report-icons">
                                            <img src="./images/report-icon-1.png" alt=""/>
                                            <img src="./images/report-icon-2.png" alt=""/>
                                            <img src="./images/report-icon-3.png" alt=""/>
                                            <img src="./images/report-icon-4.png" alt=""/>
                                            <img src="./images/report-icon-5.png" alt=""/>
                                            <img src="./images/report-icon-6.png" alt=""/>
                                            <a href="" class="btn btn-success btn-block btn-green">Access Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8 col-md-4">
                    <div class="footer-menu-wrapper">
                        <div class="footer-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Join as Advisor</a></li>
                            </ul>
                        </div>
                        <div class="copyrights">
                            <p>Copyright &copy; 2015 Live Cosmos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-3">
                    <div class="text-center follow-us">
                        <p>Follow us on</p>
                        <div>
                            <a href="#"><img src="./images/facebook.png" alt=""/></a>
                            <a href="#"><img src="./images/twitter.png" alt=""/></a>
                            <a href="#"><img src="./images/google.png" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-md-5">
                    <p class="footer-text">Lorem ipsum dolor sit amet, animal quaeque molestie an usu, ex eirmod insolens per. Ex tibique hendrerit sea. An usu verear qualisque, deseruisse dissentiunt eu eos, ea velit omnesque quo. An noster tamquam omittantur vix.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel();
        });
    </script>

</body>
</html>