<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>main site-main grid-fix</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="website-content">
            <section class="hero-start-section text-center">
                <h2 class="title"><span>Personalized</span> Astrology Readings!</h2>
                <a href="" class="btn btn-lg btn-success btn-green btn-start">start now</a>
            </section>

            <section class="what-is-lc">
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-4 item item-1">
                            <h4 class="title">What is Live Cosmos</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
                        </div>
                        <div class="col col-sm-4 item item-2">
                            <h4 class="title">What People are Saying</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
                        </div>
                        <div class="col col-sm-4 item item-3">
                            <h4 class="title">What is a Personal Map</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="horoscope-list-section">
                <div class="container">
                    <div class="text-center">
                        <h2 class="title">Select your Horoscope Sign</h2>
                    </div>

                    <ul class="clearfix list-inline list-unstyled horoscope-list text-center">
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-aries.png" alt=""/>
                                <span>Aries</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-taurus.png" alt=""/>
                                <span>Taurus</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-gemini.png" alt=""/>
                                <span>Gemini</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-cancer.png" alt=""/>
                                <span>Cancer</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-leo.png" alt=""/>
                                <span>Leo</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-virgo.png" alt=""/>
                                <span>Virgo</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-libra.png" alt=""/>
                                <span>Libra</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-scorpio.png" alt=""/>
                                <span>Scorpio</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-sagittariu.png" alt=""/>
                                <span>Sagittariu</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-capricon.png" alt=""/>
                                <span>Capricon</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-aquarius.png" alt=""/>
                                <span>Aquarius</span>
                            </a>
                        </li>
                        <li class="col col-xs-2">
                            <a href="">
                                <img class="img-responsive" src="./images/horoscope-pisces.png" alt=""/>
                                <span>Pisces</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </section>

            <section class="special-advisors-section">
                <h1 class="title text-center"><span>Special Advisors</span> to Match Your Horoscope Sign & Birth Date!</h1>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="start-section-redes text-center">
                <div class="container">
                    <h1 class="title">Begin your map analysis now</h1>
                    <a href="#" class="btn bnt-success btn-start">Start Now</a>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8 col-md-4">
                    <div class="footer-menu-wrapper">
                        <div class="footer-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Join as Advisor</a></li>
                            </ul>
                        </div>
                        <div class="copyrights">
                            <p>Copyright &copy; 2015 Live Cosmos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-3">
                    <div class="text-center follow-us">
                        <p>Follow us on</p>
                        <div>
                            <a href="#"><img src="./images/facebook.png" alt=""/></a>
                            <a href="#"><img src="./images/twitter.png" alt=""/></a>
                            <a href="#"><img src="./images/google.png" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-md-5">
                    <p class="footer-text">Lorem ipsum dolor sit amet, animal quaeque molestie an usu, ex eirmod insolens per. Ex tibique hendrerit sea. An usu verear qualisque, deseruisse dissentiunt eu eos, ea velit omnesque quo. An noster tamquam omittantur vix.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $('#connectionProgressId').click();
        });
    </script>

</body>
</html>