<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>main site-new-loading</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="website-content">
            <section class="hero-section">
                <div class="container">
                    <h1 class="title text-center">Live Personalized Astrology & Life Analysis</h1>
                    <h4 class="subtitle text-center">Get the right answers to all your life's questions!</h4>

                    <div class="progress-wrapper">
                        <div class="clearfix">
                            <div class="pull-right time-remaining"><span>Time Remaining:</span> 00:05:32</div>
                        </div>
                        <div id="connectionProgressId" class="progress" data-trigger="click" data-toggle="tooltip" data-placement="top" title="Confirmed and Trusted Connection">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="questions-section">
                <div class="container">
                    <div class="row text-center">
                        <div class="questions-inner text-left clearfix">
                            <ul class="list-unstyled col col-sm-6">
                                <li><i class="fa fa-circle"></i> Is he right for me?</li>
                                <li><i class="fa fa-circle"></i> Is my career right?</li>
                                <li><i class="fa fa-circle"></i> Can they commit?</li>
                                <li><i class="fa fa-circle"></i> Will I be rich?</li>
                            </ul>
                            <ul class="list-unstyled col col-sm-6">
                                <li><i class="fa fa-circle"></i> Are they the one?</li>
                                <li><i class="fa fa-circle"></i> Why am I not happy?</li>
                                <li><i class="fa fa-circle"></i> Why am I not happy?</li>
                                <li><i class="fa fa-circle"></i> What do I need to change?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="featured-section text-center">
                <h1 class="title">Astrology Readings Have Been Featured on:</h1>
                <ul class="list-inline list-unstyled">
                    <li><img src="./images/featured-brand-1.png" alt=""/></li>
                    <li><img src="./images/featured-brand-2.png" alt=""/></li>
                    <li><img src="./images/featured-brand-3.png" alt=""/></li>
                    <li><img src="./images/featured-brand-4.png" alt=""/></li>
                    <li><img src="./images/featured-brand-5.png" alt=""/></li>
                    <li><img src="./images/featured-brand-6.png" alt=""/></li>
                    <li><img src="./images/featured-brand-7.png" alt=""/></li>
                    <li><img src="./images/featured-brand-8.png" alt=""/></li>
                </ul>
            </section>
            <section class="performed-section text-center">
                <span>We Have Performed</span>
                <div class="counter-outer">
                    <div class="counter-inner">
                        <span>178,948</span>
                    </div>
                </div>
                <span>Live Readings and Counting...</span>
            </section>
            <section class="special-advisors-section">
                <h1 class="title text-center"><span>Special Advisors</span> to Match Your Horoscope Sign & Birth Date!</h1>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="advisor-container text-center">
                                <img src="./images/logo.png" alt="" class="img-responsive"/>
                                <div class="advisor-image">
                                    <img src="./images/advisor-image.png" alt="" class="img-responsive"/>
                                </div>
                                <div class="advisor-name">Psychic Sabrina</div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/add-funds.png" alt="" class="img-responsive"/>
                                            <span>Add Funds</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/end-chat.png" alt="" class="img-responsive"/>
                                            <span>End Chat</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="time">00:02:45</div>
                                <div class="package-type-wrapper">
                                    <div class="clearfix">
                                        <div class="col col-xs-6">Package Type</div>
                                        <div class="col col-xs-6 package-type">5 Minutes</div>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/email-chat.png" alt="" class="img-responsive"/>
                                            <span>Email Chat</span>
                                        </a>
                                    </div>
                                    <div class="col col-xs-6">
                                        <a href="">
                                            <img src="./images/download-chat.png" alt="" class="img-responsive"/>
                                            <span>Download Chat</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>                
            <section class="testimonials-section">
                <div class="container">
                    <h1 class="title text-center">See How the Cosmos Can <span>Change Your Life!</span></h1>
                    <ul class="list-unstyled">
                        <li class="clearfix">
                            <div class="col col-sm-2 hidden-xs">
                                <img class="img-responsive" src="./images/review-author-1.png" alt=""/>
                            </div>
                            <div class="col col-sm-10 review-details">
                                <span class="review-text">"I could not believe my eyes when I read what my advisor wrote! Thank You for giving me the points to turn my life around."</span>
                                <span class="review-author">Nichole S.</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col col-sm-2 hidden-xs">
                                <img class="img-responsive" src="./images/review-author-2.png" alt=""/>
                            </div>
                            <div class="col col-sm-10 review-details">
                                <span class="review-text">"We are all affected by energy. Live Cosmos reveals everything that blocks you in life by analyzing your DOB and Name."</span>
                                <span class="review-author">Mary V.</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="why-livecosmos-section">
                <div class="container">
                    <div class="text-center">
                        <img src="./images/why-livecosmos-icon.png" alt=""/>
                    </div>
                    <h1 class="title text-center">Why Live Cosmos</h1>
                    <div class="row">
                        <div class="col col-sm-6">
                            <ul class="list-unstyled">
                                <li><span>1</span>Innovative on point & personalized system that reveals your life's problems</li>
                                <li><span>2</span>Readings with your horoscope sign experts</li>
                                <li><span>3</span>24/7 support and answers</li>
                                <li><span>4</span>Secured & <strong>100% confidential</strong></li>
                            </ul>
                        </div>
                        <div class="col col-sm-6">
                            <p>Live Cosmos is the largest and most efficient system to unfold your life. Our on point, innovative technology along with personalized readers allows us to reveal everything that blocks you from being where you want to be in life.</p>
                            <div class="review">
                                <img src="./images/5-star-review.png" alt=""/>
                                <span>5 Stars Review</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="start-section text-center">
                <div class="container">
                    <h1 class="title">Reveal Everything You Need to Know to Turn Your Life Around!</h1>
                    <h4 class="subtitle">Decoding the Cosmos to Happiness, Love & Truth</h4>
                    <a href="#" class="btn bnt-success btn-start">Start Now</a>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8 col-md-4">
                    <div class="footer-menu-wrapper">
                        <div class="footer-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Join as Advisor</a></li>
                            </ul>
                        </div>
                        <div class="copyrights">
                            <p>Copyright &copy; 2015 Live Cosmos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-3">
                    <div class="text-center follow-us">
                        <p>Follow us on</p>
                        <div>
                            <a href="#"><img src="./images/facebook.png" alt=""/></a>
                            <a href="#"><img src="./images/twitter.png" alt=""/></a>
                            <a href="#"><img src="./images/google.png" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-md-5">
                    <p class="footer-text">Lorem ipsum dolor sit amet, animal quaeque molestie an usu, ex eirmod insolens per. Ex tibique hendrerit sea. An usu verear qualisque, deseruisse dissentiunt eu eos, ea velit omnesque quo. An noster tamquam omittantur vix.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $('#connectionProgressId').click();
        });
    </script>

</body>
</html>