<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>signup-map complete3-2-fix2</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="website-content">
            <section class="hero-section signup-map-section">
                <div class="container">
                    <h1 class="headline text-center"><i class="fa fa-check-circle-o"></i> Mapping Cosmos for Nimrod Santo is Complete!</h1>
                    <div class="section-inner top">
                        <div class="clearfix">
                            <div class="col col-sm-5">
                                <p class="title"><span>Please sign up</span> below to view your full map report</p>
                                <form action="" class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email"/>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block btn-lg btn-green">Continue</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col col-sm-7">
                                <div class="clearfix member-info">
                                    <p class="member-name">Nimrod Santo</p>
                                    <p class="member-age">29 Years Old</p>
                                    <p class="member-sign"><span>Sign:</span> Pisces</p>
                                    <p class="member-dob"><span>DOB:</span> 03/16/1986</p>
                                    <p class="member-tob"><span>Time of Birth:</span> 11:15 pm</p>
                                </div>
                                <div class="clearfix">
                                    <ul class="list-unstyled col col-sm-4">
                                        <li><img src="./images/green-star-icon.png" alt=""> Love</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Relationships</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Career</li>
                                    </ul>
                                    <ul class="list-unstyled col col-sm-4">
                                        <li><img src="./images/green-star-icon.png" alt=""> Money</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Family</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Health</li>
                                    </ul>
                                    <ul class="list-unstyled col col-sm-4">
                                        <li><img src="./images/green-star-icon.png" alt=""> Obstacles</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Future</li>
                                        <li><img src="./images/green-star-icon.png" alt=""> Direction</li>
                                    </ul>
                                </div>
                                <div class="clearfix testimonials-carousel">
                                    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item clearfix active">
                                                <div class="col col-xs-3">
                                                    <img class="img-responsive" src="./images/review-author-1.png" alt=""/>
                                                </div>
                                                <div class="col col-xs-9 review-details">
                                                    <span class="review-text">"I could not believe my eyes when I read what my advisor wrote! Thank You for giving me the points to turn my life around."</span>
                                                    <span class="review-author">Nichole S.</span>
                                                </div>
                                            </div>
                                            <div class="item clearfix">
                                                <div class="col col-xs-3">
                                                    <img class="img-responsive" src="./images/review-author-2.png" alt=""/>
                                                </div>
                                                <div class="col col-xs-9 review-details">
                                                    <span class="review-text">"We are all affected by energy. Live Cosmos reveals everything that blocks you in life by analyzing your DOB and Name."</span>
                                                    <span class="review-author">Mary V.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-inner bottom">
                        <div class="row privacy-block">
                            <div class="col col-sm-6">
                                <h4>WE RESPECT YOUR PRIVACY</h4>
                                <p>All chats and discussions are 100% confidential and we will NEVER share your information!</p>
                            </div>
                            <div class="col col-sm-6 text-center">
                                <img src="./images/secure-image-1.png" alt=""/>
                                <img src="./images/secure-image-2.png" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8 col-md-4">
                    <div class="footer-menu-wrapper">
                        <div class="footer-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Join as Advisor</a></li>
                            </ul>
                        </div>
                        <div class="copyrights">
                            <p>Copyright &copy; 2015 Live Cosmos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-3">
                    <div class="text-center follow-us">
                        <p>Follow us on</p>
                        <div>
                            <a href="#"><img src="./images/facebook.png" alt=""/></a>
                            <a href="#"><img src="./images/twitter.png" alt=""/></a>
                            <a href="#"><img src="./images/google.png" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-md-5">
                    <p class="footer-text">Lorem ipsum dolor sit amet, animal quaeque molestie an usu, ex eirmod insolens per. Ex tibique hendrerit sea. An usu verear qualisque, deseruisse dissentiunt eu eos, ea velit omnesque quo. An noster tamquam omittantur vix.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel();
        });
    </script>

</body>
</html>