<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>your-map is ready</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="website-content">
            <section class="hero-section map-ready-section">
                <div class="container">
                    <div class="header">
                        <div class="clearfix">
                            <div class="col col-sm-2 col-md-3 no-padding-right-sm">
                                <p>Your Map is <span>Ready</span></p>
                            </div>
                            <div class="col col-sm-10 col-md-9">
                                <div class="table-wrapper">
                                    <table class="table hidden-xs">
                                        <thead>
                                            <tr>
                                                <td class="col col-sm-3">Name</td>
                                                <td class="col col-sm-2">DOB</td>
                                                <td class="col col-sm-2">Horoscope</td>
                                                <td class="col col-sm-2">Gender</td>
                                                <td class="col col-sm-3">City of Birth</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tbody">
                                    <div class="tr clearfix">
                                        <div class="td col col-sm-3 name">Nimrod Santo</div>
                                        <div class="td col col-sm-2 dob">
                                            <div class="visible-xs-inline-block">Date of Birth: </div>12/24/1985
                                        </div>
                                        <div class="td col col-sm-2 horoscope">
                                            <div class="visible-xs-inline-block">Horoscope: </div>Capricon
                                        </div>
                                        <div class="td col col-sm-2 gender">
                                            <div class="visible-xs-inline-block">Gender: </div>Male
                                        </div>
                                        <div class="td col col-sm-3 city-birth">
                                            <div class="visible-xs-inline-block">City of Birth: </div>Sunnyvale, CA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-inner">
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="column column-left">
                                    <h3 class="topline">Gain Insights on:</h3>
                                    <div class="row">
                                        <ul class="col col-xs-6 col-sm-5 list-unstyled">
                                            <li><img src="./images/blue-star.png" alt=""> Love</li>
                                            <li><img src="./images/blue-star.png" alt=""> Money</li>
                                            <li><img src="./images/blue-star.png" alt=""> Direction</li>
                                        </ul>
                                        <ul class="col col-xs-6 col-sm-5 list-unstyled">
                                            <li><img src="./images/blue-star.png" alt=""> Relationship</li>
                                            <li><img src="./images/blue-star.png" alt=""> Health</li>
                                            <li><img src="./images/blue-star.png" alt=""> Much More!</li>
                                        </ul>
                                    </div>
                                    <div class="secure-icons">
                                        <img src="./images/secure-icon-1.png" alt=""/>
                                        <img src="./images/secure-icon-2.png" alt=""/>
                                        <img src="./images/secure-icon-3.png" alt=""/>
                                        <img src="./images/secure-icon-4.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <div class="column column-right">
                                    <h2 class="topline text-center">
                                        <i class="fa fa-exclamation-circle"></i>
                                        <span>Are you 18 years old or older?</span>
                                    </h2>
                                    <div class="text-center">
                                        <a href="" class="btn btn-success btn-lg">Yes</a>
                                        <a href="" class="btn btn-danger btn-lg">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8 col-md-4">
                    <div class="footer-menu-wrapper">
                        <div class="footer-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Join as Advisor</a></li>
                            </ul>
                        </div>
                        <div class="copyrights">
                            <p>Copyright &copy; 2015 Live Cosmos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-3">
                    <div class="text-center follow-us">
                        <p>Follow us on</p>
                        <div>
                            <a href="#"><img src="./images/facebook.png" alt=""/></a>
                            <a href="#"><img src="./images/twitter.png" alt=""/></a>
                            <a href="#"><img src="./images/google.png" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-md-5">
                    <p class="footer-text">Lorem ipsum dolor sit amet, animal quaeque molestie an usu, ex eirmod insolens per. Ex tibique hendrerit sea. An usu verear qualisque, deseruisse dissentiunt eu eos, ea velit omnesque quo. An noster tamquam omittantur vix.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel();
        });
    </script>

</body>
</html>