<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>checkout-new_one_deal_2_1</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 10]>
      <script src="./js/html5shiv.js"></script>
      <script src="./js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

    <div class="container-fluid main-wrapper">
        <header>
            <div class="container">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-link" href="#"><img class="img-responsive" src="./images/logo.png" alt=""/></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                <li><a class="btn btn-sm btn-info sign-up" href="#">Register</a></li>
                                <li><a class="btn btn-sm btn-primary sign-in" href="#">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>


        <div class="website-content">
            <section class="hero-section checkout-section">
                <div class="container">
                    <h1 class="headline text-center"><i class="fa fa-exclamation-triangle"></i> Attention: Your Map for Nimrod Santo is Now Ready. Please Use Information Given with Caution!</h1>
                    <div class="text-center last-step-text">
                        <span>LAST STEP</span> Activate Your Account to Unlock Your Map
                    </div>
                    <div class="checkout-inner">
                        <div class="checkout-body">
                            <form action="" class="form">
                                <div class="row checkout-top">
                                    <div class="col col-sm-6">
                                        <div class="column">
                                            <div class="clearfix zodiak-demo">
                                                <div class="col col-xs-4 text-center">
                                                    <img src="./images/pisces-demo.png" alt=""/>
                                                    <p class="zodiak-name">Pisces</p>
                                                </div>
                                                <div class="col col-xs-8">
                                                    <p><span>Name:</span> Nimrod Santo</p>
                                                    <p><span>City:</span> Name of City</p>
                                                    <p><span>DOB:</span> 12.12.82</p>
                                                </div>
                                            </div>
                                            <div class="clearfix features-list">
                                                <ul class="list-unstyled col col-xs-4">
                                                    <li><img src="./images/green-star.png" alt=""/> Love</li>
                                                    <li><img src="./images/green-star.png" alt=""/> Money</li>
                                                    <li><img src="./images/green-star.png" alt=""/> Obstacles</li>
                                                </ul>
                                                <ul class="list-unstyled col col-xs-4">
                                                    <li><img src="./images/green-star.png" alt=""/> Relationships</li>
                                                    <li><img src="./images/green-star.png" alt=""/> Health</li>
                                                    <li><img src="./images/green-star.png" alt=""/> Direction</li>
                                                </ul>
                                                <ul class="list-unstyled col col-xs-4">
                                                    <li><img src="./images/green-star.png" alt=""/> Career</li>
                                                    <li><img src="./images/green-star.png" alt=""/> Future</li>
                                                    <li><img src="./images/green-star.png" alt=""/> More!</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <div class="info-wrapper">
                                                <div class="anonymous-search">Your Search is <span>Completely Anonymous</span>. No One Will Know You Performed this Mapping. </div>
                                                <div class="testimonials">
                                                    <div class="item">
                                                        <span class="author-name">Ashley R.</span>
                                                        <span class="author-review">"Live Cosmos is the most reliable and accurate astrology and numerology source online"</span>
                                                        <br/>
                                                        <img src="./images/green-stars.png" alt=""/>
                                                    </div>
                                                    <div class="item">
                                                        <span class="author-name">Brad C.</span>
                                                        <span class="author-review">"I was shocked to see how unaware I was about obstacles that blocked my luck"</span>
                                                        <br/>
                                                        <img src="./images/green-stars.png" alt=""/>
                                                    </div>
                                                </div>
                                                <div class="secure-icons text-center">
                                                    <img src="./images/secure-icon-1.png" alt=""/>
                                                    <img src="./images/secure-icon-2.png" alt=""/>
                                                    <img src="./images/secure-icon-3.png" alt=""/>
                                                    <img src="./images/secure-icon-4.png" alt=""/>
                                                </div>
                                            </div>
                                                
                                            <div class="satisfaction-guarantee">
                                                <p class="title">100% Satisfaction Guarantee</p>
                                                <p>If you ever feel dissatisfied with golookup, simply give our Customer Support a call at 1-866-414-6799 between 8am-11pm Eastern Standard Time. We're available seven days a week and we look forward to serving you.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="column">
                                            <h1 class="heading"><span>Limited Time Offer</span> 05/15/2016: Save 60% <span>Now!</span></h1>
                                            <div class="clearfix checkout-radios-wrapper">
                                                <div class="radio radio-1 radio-single active">
                                                    <label class="clearfix">
                                                        <div class="headline-wrapper">
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked/>
                                                            <h3 class="headline">3 Minutes + <span>2 Minutes FREE</span></h3>
                                                        </div>
                                                        <div class="clearfix current-price-wrapper">
                                                            <p class="current-price">$1.95</p>
                                                            <small>per minute</small>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="column column-right checkout-form-wrapper">
                                            <h2 class="heading">Activate Your Account</h2>
                                            <div class="clearfix">
                                                <div class="col col-xs-12">
                                                    <div class="form-group">
                                                        <label for="name-id">Name on Card</label>
                                                        <input type="text" id="name-id" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="card-number-id">Card Number</label>
                                                        <input type="text" id="card-number-id" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <img src="./images/visa.png" alt=""/>
                                                        <img src="./images/mastercard.png" alt=""/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="form-group">
                                                    <div class="col col-sm-8 expiration-age">
                                                        <label>Expiration Date</label>
                                                        <select name="" id="" class="form-control">
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>04</option>
                                                            <option>05</option>
                                                            <option>06</option>
                                                            <option>07</option>
                                                            <option>08</option>
                                                            <option>09</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                        </select>
                                                        <select name="" id="" class="form-control">
                                                            <option value="">2015</option>
                                                            <option value="">2016</option>
                                                            <option value="">2017</option>
                                                        </select>
                                                    </div>
                                                    <div class="col col-sm-4">
                                                        <div class="form-group">
                                                            <label for="cvv-id">CVV Code</label>
                                                            <input type="text" id="cvv-id" class="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="col col-xs-6">
                                                    <div class="form-group">
                                                        <label for="zip-id">Zip/Postal Code</label>
                                                        <input type="text" id="zip-id" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="col col-xs-12">
                                                    <div class="checkbox checkbox-agree">
                                                        <label>
                                                            <input type="checkbox"/> I understand and agree that golookup.com is not a "consumer reporting agency," as defined in the Fair Credit Reporting Act (15 U.S.C. § 1681, et seq.) ("FCRA"), which means that golookup.com does not provide "consumer reports," as the FCRA defines. Additionally, I understand and agree that I am not using golookup.com's products or services to determine someone's and Privacy Policy.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spaceholder"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix">
                                    <div class="column checkout-bottom">
                                        <div class="clearfix">
                                            <div class="col col-sm-6">
                                                <div class="btn-access-wrapper">
                                                    <a href="#" class="btn btn-block btn-access-report">Access Your Report Instantly <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col col-sm-6">
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-lg btn-success btn-green btn-start">
                                                        <img src="./images/white-star.png" alt=""/> start now <img src="./images/white-star.png" alt=""/>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="container text-center">
            <div class="follow-us">
                <p>Follow us on</p>
                <div>
                    <a href="#"><img src="./images/facebook.png" alt=""/></a>
                    <a href="#"><img src="./images/twitter.png" alt=""/></a>
                    <a href="#"><img src="./images/google.png" alt=""/></a>
                </div>
            </div>
            <div class="footer-menu-wrapper">
                <div class="footer-menu">
                    <ul class="list-unstyled list-inline">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">More</a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p>Copyright &copy; 2015 Live Cosmos</p>
                </div>
            </div>

        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.radio').click(function() {
                $(this).addClass("active");
                $(this).siblings(".radio").removeClass("active");
            });
        });
    </script>

</body>
</html>